body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    background-color: #eeeeee;
    }
 

.myTab{
    height: 57px;
    padding-top: 17px;
    border-bottom: 1px #cccccc solid ;
}


    
.nav{
    padding: 17px 20px 0px 20px;
    background-color: #f5f5f5;
    height: 55px;
    border: 1px solid #dddddd;
    -webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;

}
#container{
     margin-right: auto;
    margin-left: auto;
    background-color: #fff;

 
padding:0;
 

}
 
.topnav {
    overflow: hidden;
   }
  
  .topnav a {
    float: right;
 font-weight: bold;
    color: #333333;
    background-color: #fff;
    padding: 5px 10px;
    height: 40px;
    border-bottom: 1px #cccccc solid ;

    display: block;
   }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration:none;
  }
  
  .topnav a.active {
    color: #333333;
    background-color: #f5f5f5;
     padding: 7px 10;
    border-top: 2px #000 solid;
    border-right:  1px #cccccc solid;
    border-left:1px #cccccc solid;
    border-bottom: 1px #f5f5f5 solid;
   }
  
  .topnav-right {
    float: right;
  }

 
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #555555;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    padding: 5px 10 ;
    border-top: 5px #4cc8f1 solid;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 45px;
 
}

.nav-tabs .nav-link {
    border: 1px solid #dddddd;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #555555;
    background-color: #fff;
     padding: 5px 10 ;
 height: 40px;
 
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.nav-item{
        padding-top: 4px;

}
.nav-link {
    display: inline;
    padding: .5rem 1rem;
}


.tab-content{
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8 ; 
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.row-data{
    padding: 15px 22px;
    margin: 0 0;
    background-color: #f5f5f5;
 border: 1px solid #cccccc;
 border-top:transparent;
 padding:30px;

}
.all_data{
 
    background-color: #fff;
 

}

 









.dataTables_length{
    display: none;
}
.dataTables_filter{
    display: none;
}

.dataTables_wrapper{
    padding: 20px;
    background-color: #f5f5f5;
    margin: 20px;
}
.form_b{
    text-align: center;

 padding: 25px;
}
.add{
    background-color: #4caf50;
    border:transparent;
    border-radius: 0;
    font-weight: bold;
}

.delete{
    background-color: #f44336;
    border:transparent;
    border-radius: 0;
    font-weight: bold;

}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #acacac;
    border-color: #acacac;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #454545;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.sorting_asc{
    text-align: right;
}
.sorting{
    text-align: right;
}

.even{
   background-color: #f8f8f8;
}
.even{
   background-color:  #e4e4e4;
}
td{
    text-align: center;
}